<div class="main">
    <div class="content-wrapper mt-0 pb-5">
        <app-navbar></app-navbar>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Manage vehicle information</h1>
                <p class="lead text-muted">Select a vehicle from a list of saved vehicles, see its details and simulate
                    the cost of a trip</p>
            </div>
        </section>
        <!-- Main content -->
        <div class="content pt-5">
            <div class="container">

                <app-vehicle></app-vehicle>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- Control Sidebar -->
<app-footer></app-footer>
<!-- ./wrapper -->