<app-navbar></app-navbar>
<div class="main">
    <div class="content-wrapper mt-0">

      
        <!-- /.navbar -->
        <div class="content-wrapper mt-0  pt-4 pb-5">
            <section class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>List Vehicles</h1>
                        </div>
                  
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <div class="content">
                <div class="container">

                    <app-vehicles></app-vehicles>


                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    <app-footer></app-footer>
    </div>


<!-- ./wrapper -->