<app-navbar></app-navbar>
<div class="main">
    <div class="content-wrapper mt-0">
      
        <!-- Main content -->
        <div class="content pt-5">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none"></h3>
                        <div class="col-12">
                            <img src="{{ vehicle.photo }}" class="product-image" alt="Product Image">
                        </div>

                    </div>
                    <div class="col-12 col-sm-6">
                        <h2 class="my-3">{{ vehicle.name }}</h2>
                        <h4 class="mt-3">Model: <small>{{ vehicle.model }}</small></h4>
                        <h4 class="mt-3">Make: <small>{{ vehicle.make }}</small></h4>
                        <h4 class="mt-3">Year: <small>{{ vehicle.year }}</small></h4>
                        <hr>

                        <div class="py-2 px-3 mt-4">
                            <h4 class="mb-0">
                                AVG: {{ vehicle.avg }} consumption per km
                            </h4>
                            
                        </div>
                        <div class="col-12 col-sm-6 mt-3">
                            <input type="number" [value]="distance" class="form-control" id="distance" placeholder="Enter the Distance" [formControl]="distance">
                            <h4 class="mt-4" *ngIf="showResult">Cost of a trip: {{ cost | number : '1.1-1' }} €</h4>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<app-footer></app-footer>